.modal {
    width: 90% !important;
    max-height: 100% !important;
    top: 3% !important;
    -webkit-top: 3% !important;
    bottom: 3%;
    -webkit-bottom: 3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.img_preview {
    border: 2px dashed #5e5e5e;
    max-height: 100px;
    min-height: 100px;
}

h6 {
    line-height: 130% !important;
}

.note {
    font-size: 12px;
}

.footer {
    position: fixed;
    width: 100%;
    background: -webkit-linear-gradient(left, #239085, #0a2926, #239085); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #239085, #0a2926, #239085); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #239085, #0a2926, #239085); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #239085, #0a2926, #239085);
    color: #eafaf8;
    height: 12vh;
}

.content-table {
    height: 88vh;
}

.footer a {
    color: #eafaf8;
}

#roomOverview {
    width: 320px;
    height: 200px;
    margin: 0 auto;
}

#room {
    width: 320px;
    height: 200px;
    background-color: #e8e8e0;
}

.picture {
    cursor: pointer;
    width: 80px;
    height: 10px;
    background-color: #e8e8e0;
    position: absolute;
    border: 3px solid rgba(8, 43, 40, 0.81);
}

.picture1 {
    width: 50px;
    height: 50px;
    background-color: #e8e8e0;
    border: 3px dashed grey;
    position: absolute;
    cursor: pointer;
    transition: all 600ms ease;
    text-align: center;
}

.selected {
    background-color: rgba(8, 43, 40, 0.81);
}

.p1 {
    transform: rotate(90deg);
    margin: 90px 0 0 -25px;

}

.p2 {
    margin: 10px 0 0 120px;
}

.p3 {
    transform: rotate(90deg);
    margin: 90px 0 0 265px;
}

.p4 {
    margin: 180px 0 0 120px;
}

.paintingsCount p, .paintingsCount h5 {
    margin-left: 0.82rem
}

.modalSpecial {
    height: 30%;
    bottom: 40%;
}

.picture1 img {
    max-height: 100%;
    max-width: 100%;
}

/* 4 obrazy */
.p_count_4#pic1 {
    margin: 75px 0 0 5px;
}

.p_count_4#pic2 {
    margin: 5px 0 0 135px;
}

.p_count_4#pic3 {
    margin: 75px 5px 0 265px;
}

.p_count_4#pic4 {
    margin: 145px 0 0 135px;
}

.p_count_4#pic5, .p_count_4#pic6 {
    display: none;
}

/* 4obrazy koniec */

/* 6 obrazov */
.p_count_6#pic1 {
    margin: 75px 0 0 5px;
}

.p_count_6#pic2 {
    margin: 5px 0 0 90px;
}

.p_count_6#pic3 {
    margin: 5px 0 0 190px;
}

.p_count_6#pic4 {
    margin: 75px 5px 0 265px;
}

.p_count_6#pic5 {
    margin: 145px 0 5px 190px;
    display: inline;
}

.p_count_6#pic6 {
    margin: 145px 0 0 90px;
    display: inline;
}
/* 6 obrazov koniec*/

.btnAction {
    min-width: 190px;
}

.login_window {
    width: 50%;
    margin: 0 auto;
}

.user_info {
    display: none;
    color: #d6797d;
}

.user_info_displayed {
    display: inline;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.href_style {
    color: #fff;
}

.custom_button {
    min-width: 160px;
}

.logout_button {
    margin-top: 20px;
}

.admin_button {
    margin-left: 20px;
}


@media only screen and (min-width: 1201px) {
    .back {
        float: right;
    }
}

@media only screen and (max-width: 1200px) {
    .back {
        float: right;
    }
}

@media only screen and (max-width: 1000px) {
    .back {
        float: left;
    }
}

.modal_bottom_bar {
    position: absolute;
    bottom: 0;
}

.hide-content {
    display: none;
}

@media only screen and (max-width: 420px) {
    .footer {
        display: none;
    }

    .modal_bottom_bar {
        position: relative;
    }

    .responsive-img .img_preview {
        width: auto;
    }

}