html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    z-index: 100;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 0;
}

#blocker {
    z-index: 101;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
}

#instructions {
    z-index: 102;
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;

    cursor: pointer;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    background: #660000;
    border-radius: 50%;
    display: none;
}

.help-info {
    position: absolute;
    width: 100vw;
    top: 20px;
    text-align: center
}

#paintingDetails {
    left: -100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #201313;
    opacity: 0.8;
    color: #e6e6e6;
}

#paintingDetailsContent {
    left: -100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 1;
    color: #e6e6e6;
    text-align: center;
}

#paintingDetailsContent img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    max-width: 55vw;
    max-height: 55vh;
}

#paintingMeasurementsTitle {
    margin-top: 37%;
}

#paintingDetailsContent p {
    font-size: 16px;
}

#close {
    margin-left: 90%;
}

.menu {
    height: 100vh;
    width: calc(100vw - 40px);
    background-color: #201313;
    position: absolute;
    left: -100%;
    z-index: 104;
    -webkit-transition: all 1000ms ease-in;
    opacity: 0.9;
}

.controls {
    height: 30vh;
    width: 100vw;
    background-color: #4e2929;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 104;
    -webkit-transition: all 1000ms ease-in;
    opacity: 0.9;
}

.controls-hidden {
    height: 20vh;
    width: 100vw;
    background-color: #4e2929;
    position: absolute;
    left: 0;
    top: -30vh;
    z-index: 104;
    -webkit-transition: all 1000ms ease-in;
    opacity: 1;
}

.menuBack {
    height: 100vh;
    width: calc(100vw - 40px);
    position: absolute;
    left: -100%;
    z-index: 103;
    -webkit-transition: all 1000ms ease-in;
    background-image: url("../images/menu_bg.jpg");
}

.menuOpened {
    left: 0;
}

.aboutSection {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: calc(0px - 100vw);
    top: 0;
    color: whitesmoke;
    z-index: 1001;
    transition: all 800ms ease;
    background-color: #0f0f0f;
}

.closeIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(100vw - 50px);
    transition: all 800ms ease;
}

.closeIconPart {
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: whitesmoke;
    left: 50%;
}

.closeIcon:hover {
    transition: all 800ms ease;
    transform: rotate(180deg);
}

.firstPart {
    transform: rotate(45deg);
}

.secondPart {
    transform: rotate(-45deg);
}

.aboutSection .header {
    top: 0;
}

.aboutSection p {
    padding: 5% 20% 0 20%;
}

.aboutSection-visible {
    left: 0;
    transition: all 800ms ease;
}

.header {
    position: relative;
    color: #e6e6e6;
    text-align: center;
    top: 10%;
}

.header h1 {
    font-size: 67px;
    margin-bottom: -0.3em;
}

.header h3 {
    font-size: 28px;
    margin-top: -0.3em;
}

.header p {

}

.options {
    position: relative;
    color: #e6e6e6;
    top: 25%;
    width: 5%;
    margin: auto;
    z-index: 1000;
    text-align: center;
}

.options p {
    position: relative;
    text-decoration: none;
    margin-bottom: 50%;
    cursor: pointer;
    width: 100px;
}

.options p:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #e6e6e6;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.options p:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navBar {
    height: 100vh;
    width: 40px;
    position: absolute;
    background: linear-gradient(to bottom, #9c7c7c, #745858, #493737, #1d1616);
    z-index: 103;
    -webkit-transition: all 1000ms ease-in;
    left: 0%;
}

.navBarOpened {
    left: calc(100vw - 40px)
}

#wrap {
    top: 50%;
    position: relative;
    height: 30px;
    cursor: pointer;
    width: 100%;
}

.ham {
    background-color: #f5efef;
    width: 20px;
    height: 2px;
    position: absolute;
}

.d1, .d2, .d3 {
    left: 10px;
    transform: rotate(0deg);
    -webkit-transition: all 300ms linear;
}

.d1 {
    top: 8px;
}

.d2 {
    top: 15px;
}

.d3 {
    top: 22px;
}

.d1Hover {
    top: 12px;
    transform: rotate(30deg);
    width: 12px;
    left: 18px;
}

.d3Hover {
    top: 18px;
    transform: rotate(-30deg);
    width: 12px;
    left: 18px;
}

.d1Opened {
    top: 15px;
    transform: rotate(45deg);
}

.d2Opened {
    transform: rotate(45deg);
}

.d3Opened {
    top: 15px;
    transform: rotate(-45deg);
}

.d1OpenedHover {
    top: 12px;
    transform: rotate(150deg);
    width: 12px;
}

.d2OpenedHover {
    transform: rotate(0deg);
}

.d3OpenedHover {
    top: 18px;
    transform: rotate(-150deg);
    width: 12px;
}

#vg_header {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10vh;
}

#mainHeading {
    font-size: 72px;
}

#controls {
    display: inline-block;
    position: absolute;
    top: 46vh;
    left: 20vw;
}

#controls_heading {

}

#adminLink {
    font-size: 15px;
    text-decoration: none;
    color: #e6e6e6;
    position: absolute;
    top: 10px;
    left: calc(100vw - 150px);
}

.control_image {
    width: 60px;
    height: 60px;
}

.control_image_small {
    width: 40px;
    height: 40px;
}

#controls_table {
    position: absolute;
    margin: 0 auto;
    left: 400px;
    right: 0;
    max-width: 920px;
    top: 50vh;
}

#popup {
    margin: 0 auto;
    left: 400px;
    right: 0;
    max-width: 920px;
    color: whitesmoke;
}

.popup-info {
    position: absolute;
    color: whitesmoke ;
    left: 140px;
}

.tdWider {
    min-width: 120px;
}

.tdWider:first-child {
}

.tdMedium {
    min-width: 65px;
}

#firstRow td {
    padding-bottom: 10px;
}

.firstTd {
    padding-left: 50px;
}

.login_window {
}

.href_style {
    color: #fff;
}

td {
    text-align: center;
}


@media only screen and (min-width: 1201px) {
    .small_screen {
        display: none;
    }

    .back {
        float: right;
    }
}

@media only screen and (max-width: 1200px) {
    .small_screen {
        display: none;
    }

    #controls {
        left: 7%;
    }

    .back {
        float: right;
    }
}

@media only screen and (max-width: 1000px) {
    #instructions {
        display: none;
    }
    .small_screen {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    #blocker {
        background-color: #eaeaea;
    }

    .back {
        float: left;
    }

    #help-popup {
        display: none;
    }

    .content {
        font-size: 12px;
    }

}

#instructions p {
    z-index: 1001;
}

#help-popup-info {
    position: absolute;
    color: #000000;
    opacity: 1;
    z-index: 2000;
    transform: translate(100%, 50%)
}

.help-popup-hidden {
    visibility: hidden;
}

.help-popup {
    position: absolute;
    visibility: visible;
}

#controls_table_popup {
    position: absolute;
    margin: 0 auto;
    left: 200px;
    right: 0;
    max-width: 920px;
    top: 50vh;
}

.controls-table {
    background-color: #545454;
    color: whitesmoke;
    border-radius: 20px;
}
