<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="vendor/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <script type="text/javascript" src="js/angular-base64-master/angular-base64.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/materialize/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <title>Administration</title>
    <style>
        .width-30-pct {
            width: 30%;
        }

        .text-align-center {
            text-align: center;
        }

        .margin-bottom-1em {
            margin-bottom: 1em;
        }
    </style>
</head>
<body ng-app="GalleryApp">

<div class="container content-table" ng-controller="RoomsCtrl">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col m4"><h4 id="heading">Rooms</h4></div>
                <div class="col m8">
                    <button class="btn waves-effect waves-light float_right logout_button" ng-click="logout_user()">Sign out</button>
                </div>
            </div>


            <input type="text" ng-model="search" class="form-control" placeholder="Search rooms..."/>

            <table class="hoverable bordered highlight">
                <thead>
                <tr>
                    <th class="text-align-center hide-content">ID</th>
                    <th class="width-30-pct">Name</th>
                    <th class="width-30-pct">Description</th>
                    <th class="text-align-center">Action</th>
                </tr>
                </thead>

                <tr ng-repeat="rp in roomPictures | filter:search">
                    <td class="text-align-center hide-content">{{ rp.id_room_picture }}</td>
                    <td>{{ rp.name }}</td>
                    <td>{{ rp.description }}</td>
                    <td class="text-align-center">
                        <a ng-click="showOne(rp.id_room_picture)"
                           class="waves-effect waves-light btn margin-bottom-1em btnAction"><i
                                class="material-icons left">edit</i>Edit/Details</a>
                        <a ng-click="deleteRoom(rp)" class="waves-effect waves-light btn margin-bottom-1em btnAction"><i
                                class="material-icons left">delete</i>Delete</a>
                    </td>
                </tr>
            </table>

            <!-- ========================================  Creating new Room    ======================================== -->
            <div id="modal-room-form" class="modal">
                <div class="modal-content">
                    <h5 id="modal-room-title"></h5>
                    <div class="row">
                        <div class="input-field col s4">
                            <input type="text" ng-model="name" class="validate" id="form-name"
                                   placeholder="Type name here..."/>
                            <label for="form-name">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" ng-model="description" class="validate"
                                   placeholder="Type description here..."
                                   id="form-desc">
                            <label for="form-desc">Description</label>
                        </div>
                    </div>


                    <!-- Number of pictures in room -->
                    <div class="paintingsCount row">
                        <h5>Choose count of the paintings in room</h5>
                        <p class="note">Note: Once you choose count of paintings you CAN'T change is later.</p>
                        <div class="input-field col s12">
                            <p>
                                <input name="group1" ng-model="paintings" type="radio" id="test1" value="4"/>
                                <label for="test1">Four paintings</label>
                            </p>
                            <p>
                                <input name="group1" ng-model="paintings" type="radio" id="test2" value="6"/>
                                <label for="test2">Six paintings</label>
                            </p>
                        </div>
                    </div>

                    <!-- End number of pictures in room -->


                    <!-- "Podorys miestnosti" -->
                    <div class="row">
                        <div id="roomOverview">
                            <div id="room">
                                <div class="picture1 p_count_4 modal-trigger" id="pic1" href="#picture0_modal">
                                    <img src="images/default.png" id="prew1" ng-src="{{images[0].image}}"/>
                                </div>
                                <div class="picture1 p_count_4 modal-trigger" id="pic2" href="#picture1_modal">
                                    <img src="images/default.png" id="prew2" ng-src="{{images[1].image}}"/>
                                </div>
                                <div class="picture1 p_count_4 modal-trigger" id="pic3" href="#picture2_modal">
                                    <img src="images/default.png" id="prew3" ng-src="{{images[2].image}}"/>
                                </div>
                                <div class="picture1 p_count_4 modal-trigger" id="pic4" href="#picture3_modal">
                                    <img src="images/default.png" id="prew4" ng-src="{{images[3].image}}"/>
                                </div>
                                <div class="picture1 p_count_4 modal-trigger" id="pic5" href="#picture4_modal">
                                    <img src="images/default.png" id="pre5" ng-src="{{images[4].image}}"/>
                                </div>
                                <div class="picture1 p_count_4 modal-trigger" id="pic6" href="#picture5_modal">
                                    <img src="images/default.png" id="prew6" ng-src="{{images[5].image}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Koniec podorysu miestnosti -->

                    <div class="input-field col s12 modal_bottom_bar">
                        <a ng-click="addRoom()" id="btn-create-product"
                           class="waves-effect waves-light btn margin-bottom-1em"
                        ><i class="material-icons left">add</i>Create</a>

                        <a ng-click="updateRoom()" id="btn-update-room"
                           class="waves-effect waves-light btn margin-bottom-1em"
                        ><i class="material-icons left">edit</i>Save Changes</a>

                        <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i
                                class="material-icons left">close</i>Close</a>
                    </div>
                </div>
            </div>
            <!-- Formular pre obraz -->
            <div id="picture{{image.index}}_modal" class="modal modalSpecial" ng-repeat="image in images">
                <div class="modal-content">
                    <h5>Add Painting</h5>
                    <div class="file-field input-field col m3 s12">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" ng-model="image_upload" class="validate" custom-on-change="uploadFile" data-index="{{image.index}}" accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="file-path-wrapper">
                            <input ng-model="file_txt" class="file-path validate" type="text"
                                   placeholder="Click to choose an image">
                        </div>
                    </div>

                    <div class="input-field col m3 s12">
                        <input ng-model="image.name" type="text" class="validate" id="form-pic_name"
                               placeholder="Type name of picture here..."/>
                        <label for="form-pic_name" class="active" >Name</label>
                    </div>

                    <div class="input-field col m2 s12">
                        <input ng-model="image.width" type="number" class="validate" id="form-width"
                               placeholder="Type width of picture here..." min="20" max="700"/>
                        <label for="form-width" class="active" data-error="Insert numbers only in range from 20 to 700">Width</label>
                    </div>

                    <div class="input-field col m2 s12">
                        <input ng-model="image.height" type="number" class="validate" id="form-height"
                               placeholder="Type height of picture here..." min="20" max="700"/>
                        <label for="form-height" class="active" data-error="Insert numbers only in range from 20 to 700">Height</label>
                    </div>

                    <div class="input-field col m2 s6">
                        <img class="responsive-img img_preview" src="images/default.png"
                             ng-src="{{image.image}}"
                             id="pic_preview">
                    </div>
                </div>
                <div class="col s12">
                    <a class="modal-action waves-effect waves-light btn margin-bottom-1em sButton" id="button{{image.index}}"
                     ng-click="validateForm(image.index)"><i class="material-icons left">done</i>Submit</a>
                     <a class="modal-action modal-close waves-effect waves-light btn margin-bottom-1em"><i
                                class="material-icons left">close</i>Close</a>
                </div>
            </div>
            <!-- Koniec formulara pre obraz -->
            <!-- floating button for creating room -->
            <div class="fixed-action-btn" style="bottom:80px; right:24px;">
                <a class="waves-effect waves-light btn modal-trigger btn-floating btn-large red"
                   href="#modal-room-form" ng-click="showCreateForm()"><i
                        class="large material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>
<div class="footer" id="valign">
    <div class="row">
        <div class="col s12">
            <p class="center-align flow-text">Virtual Gallery Administration</p>
        </div>
        <div class="col s12">
        </div>
    </div>
</div>
</body>
</html>

