<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="vendor/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/sha1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <script type="text/javascript" src="js/controllers/vg.js"></script>
    <script type="text/javascript" src="js/angular-base64-master/angular-base64.js"></script>

    <script type="text/javascript" src="js/animations/animations.js"></script>

    <link rel="stylesheet" type="text/css" href="vendor/materialize/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <title>Authorisation</title>
</head>
<body ng-app="GalleryApp">
<div class="container" ng-controller="AuthCtrl">
    <div class="login_window">
        <h1>Sign in</h1>
        <p class="user_info" id="login_info">Wrong username or password</p>
        <form>
            <input ng-model="login" type="text" id="login"
                   placeholder="login" class=""/>
            <label for="login">Login</label>
            <input ng-model="password" type="password" id="password"
                   placeholder="password" class=""/>
            <label for="password">Password</label>
            <div class="row">
                <div class="col m6 s12">
                    <button class="btn waves-effect waves-light btn-large custom_button"
                            ng-click="login_user()"><i class="material-icons right">input</i>Login
                    </button>
                </div>
                <div class="col m6 s12">
                    <button class="btn waves-effect waves-light btn-large custom_button back"
                    >Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>